#addProject {
  padding: 10px 0px 15px 0px;
}
#addSection {
  padding: 10px 0px 10px 0px;
  background-color: #3B3B3A;
  color: white;
}

#description {
  margin: 15px 0px 15px 0px;
  outline-color: orangered;
}

textarea:focus, input:focus{
    outline-color: orangered;
}
#online-status {
  color: lightgreen;
}

@media screen and (max-width: 767px) {
  .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
      white-space: normal;
  }
  .edit-modal, .btn, .btn-warning {
    margin-bottom: 30px;
  }
}
